import { reactive } from 'vue'
import { {{#operations}} {{fullName}}, {{/operations}} } from '@/common/api'{{^-last}}

{{/-last}}

{{#operations}}
{{#paramsType}}
const {{params.modelName}} = reactive<{{paramsType}}>({
  {{#params.properties}}
  // 描述: {{&description}}   类型: {{&type}}   是否必填: {{&required}}
  {{name}}: {{init}},
  {{/params.properties}}
})
{{/paramsType}}
{{#dataType}}
const {{data.modelName}} = reactive<{{dataType}}>({
  {{#data.properties}}
  // 描述: {{&description}}   类型: {{&type}}   是否必填: {{&required}}
  {{name}}: {{init}},
  {{/data.properties}}
})
{{/dataType}}
/**
 * {{&summary}}
 */
const data = await {{fullName}}({{#paramsType}}{{params.modelName}}{{/paramsType}}{{#dataType}}{{data.modelName}}{{/dataType}}){{^-last}}

{{/-last}}
{{/operations}}
